.projects {
  align-items: center;
  font-family: "SF Pro Display", "Poppins", "Inter", sans-serif;
  padding: 5rem 0;
}

.projects-intro {
  width: 92%;
  margin: 0 auto;
  padding: 1rem 2rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: #05001d75;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.projects h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.projects p {
  font-size: 0.9rem;
  margin-top: 0;
  text-align: justify;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 95%;
  margin: 1rem auto;
}

.card {
  background-color: #05001d75;
  width: 70%;
  border: 1px solid #ffffff;
  border-radius: 1rem 0.2rem 1rem 0.2rem;
  overflow: hidden;
  text-align: center;
  padding: 2rem 0;
}

.card-title {
  text-transform: uppercase;
  background-color: rgba(240, 255, 255, 0.11);
  border: 1px solid;
  border-radius: 0.8rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
}

.card-image img {
  width: 80%;
  border-radius: 1rem;
  margin: 0 auto;
  height: auto;
  display: block;
  transition: opacity 0.8s ease-in-out;
}

.card-details {
  background-color: rgba(240, 255, 255, 0.11);
  border: 1px solid;
  border-radius: 0.8rem;
  width: 80%;
  height: 6rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  text-align: justify;
  padding: 1rem;
  font-size: 0.8rem;
  color: #ffffff;
}

.nav-btn {
  background: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff44;
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-btn:hover {
  transform: scale(1.2);
  color: #ffffff;
}

.dots {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.dot.active {
  background: #4800ff;
  border: none;
  transform: scale(1.3);
}

@keyframes tickerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .projects-intro {
    padding: 1rem 1rem;
  }
  .projects h1 {
    font-size: 1.5rem;
    margin-bottom: .2rem;
  }
  .projects p {
    font-size: 0.75rem;
  }
  .projects-intro {
    border-radius: 1rem;
  }
  .card-container {
    gap: 0.5rem;
  }
  .card {
    width: 90%;
    border: 1px solid;
    border-radius: 1rem;
  }
  .card-title {
    width: 90%;
    font-size: 0.7rem;
    border-radius: .5rem;
    border: 1px solid #ffff;
    height: 4rem;
    margin-bottom: .5rem;
  }
  .card-image img {
    border-radius: .5rem;
    border: none;
    width: 90%;
  }
  .card-details {
    width: 90%;
    margin-top: 0;
    font-size: 0.65rem;
    border-radius: .5rem;
    border: 1px solid #ffff;
    height: auto;
  }
  .dots {
    margin-top: 0;
  }
}
