.projects {
  font-family: "SF Pro Display", "Poppins", "Inter", sans-serif;
  max-width: 92%;
  margin: 0 auto;
  margin-bottom: 3%;
  padding: 2rem 0;
}

.projects h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.projects p {
  margin-top: 0;
  text-align: justify;
}

.ticker-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.ticker-wrapper::before,
.ticker-wrapper::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 2%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.ticker-wrapper::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.8), transparent);
}

.ticker-wrapper::after {
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,0.8), transparent);
}

.ticker {
  display: flex;
  gap: 10px;
  animation: tickerScroll 20s linear infinite;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}  

.image-row::-webkit-scrollbar {
  display: none;
}

.image-card {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
  scroll-snap-align: start;
  flex-shrink: 0;
  background: rgba(255, 0, 0, 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.93);
}

@keyframes tickerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}