.projects {
  padding: 40px 60px;
}

.ticker-wrapper {
  overflow: hidden;
  width: 100%;
  padding-top: inherit;
  padding-bottom: inherit;
}

.ticker {
  display: flex;
  gap: 30px;
  animation: tickerScroll 20s linear infinite;
}

.image-row::-webkit-scrollbar {
  display: none;
}

.image-card {
  width: 30%;
  height: 20%;
  border-radius: 16px;
  overflow: hidden;
  scroll-snap-align: start;
  flex-shrink: 0;
  background: rgba(255, 0, 0, 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    display: block;
}

.image-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgb(255, 254, 255);
}

@keyframes tickerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}