.projects {
  align-items: center;
  font-family: "SF Pro Display", "Poppins", "Inter", sans-serif;
  padding: 5rem 0;
}

.projects-intro {
  width: 92%;
  margin: 0 auto;
  padding: 1rem 2rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: #05001d75;
  border-radius: 1rem 0.2rem;
  margin-bottom: 1rem;
}

.projects h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.projects p {
  font-size: 0.9rem;
  text-align: justify;
}

.card-wrapper {
  background-color: #05001d75;
  display: flex;
  width: 92%;
  height: 25rem;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
}

.card {
  min-width: 20rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: rgba(240, 255, 255, 0.11);
  padding: 1rem;
}

.card-image img {
  width: 100%;
  border-radius: 8px;
  height: 10rem;
}

.card-content {
  border: 1px solid #ffffffc3;
  margin-top: 0.75rem;
  border-radius: 1rem 0.2rem;
  padding: 0.8rem;
  height: 8rem;
}

.modal-button button {
  border: 1px solid #ffffffc3;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
  margin-left: auto;
  width: 4rem;
  justify-content: center;
  border-radius: 1rem;
  transition: ease 0.2s;
}

.modal-button button:hover {
  background-color: #05001db8;
}

.card-content h3 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  height: 2.5rem;
}

.card-content p {
  font-size: 0.7rem;
}

::-webkit-scrollbar {
  display: none;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  backdrop-filter: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1rem) saturate(200%) contrast(110%);

  opacity: 1;
}

.modal {
  background-color: #05001dbd;
  max-width: 80%;
  width: 90%;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: 1px solid;
  scroll-behavior: smooth;
}

.modal-images {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
  overflow-x: auto;
}

.modal-images img {
  width: 60%;
  border-radius: 8px;
}

.modal-details {
  height: 8rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem;
}

.modal-details h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
  height: 2.5rem;
}

button {
  display: flex;
  margin-left: auto;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .projects-intro {
    padding: 1rem 1rem;
  }
  .projects h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
  .projects p {
    font-size: 0.75rem;
  }
  .projects-intro {
    border-radius: 1rem;
  }
}
