.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.content img {
  margin-top: 50px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content h1 {
  text-align: center;
  width: 70%;
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}
