.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 5px 40px;
  border-radius: 50px;
  overflow: hidden;
  background: rgba(
    255,
    255,
    255,
    0.08
  ); 
  backdrop-filter: blur(20px) saturate(200%) contrast(110%);
  -webkit-backdrop-filter: blur(20px) saturate(180%) contrast(120%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all 0.5s ease;
}

.navbar::before {
  content: "";
  position: absolute;
  top: var(--y, 0);
  left: var(--x, 0);
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.521),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.navbar:hover::before {
  opacity: 1;
}

.navbar-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  font-size: 18px;
}
.navbar-menu a {
  text-decoration: none;
  color: inherit;
}
.nav-connect {
  padding: 15px 30px;
  font-size: 15px;
  cursor: pointer;
  color: inherit;
  transition: all 0.3s ease;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/ObloLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Apply the font */
.navbar h1 {
  font-family: "MyCustomFont", sans-serif;
}

.navbar h1 {
  font-family: "MyCustomFont", sans-serif;
  font-size: 36px;
  background: linear-gradient(
    270deg,
    #ff512f,
    #dd2476,
    #f7971e,
    #00c6ff,
    #0072ff,
    #ff512f,
    #dd2476,
    #f7971e,
    #00c6ff,
    #0072ff
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradient 8s ease infinite;
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar a,
.navbar h1,
.nav-connect {
  transition: color 0.5s ease;
}
