*{
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}